@import "general.css";
@import "header.css";

:root {
  --color__dark--main: #000002;
  --color__metallic--main: #424E58;
  --color__gray--main: #889298;
  --color__white--main: #CBCDD1;
  --color__green--main: #2D803E;
  --color__pink--main: #EA759C;
}

.app {
  min-height: 200vh;
  max-width: 1200px;
  margin: auto;
}

.the-first-screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px 10px;
  background: var(--color__metallic--main);
  border-radius: 20px;

  & .the-first-screen__photo {
    height: 400px;
  }

  & .the-first-screen__info {
    height: 400px;
  }
}

.the-main-info {
  padding: 20px 10px;
  border-radius: 20px;
  background-color: var(--color__dark--main);

  & .the-main-info__title {
    font-size: 6em;
    font-weight: bold;
    text-transform: uppercase;
  }
}
